@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;1,700&display=swap');
body{
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;


}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}


.hero{
     height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
    
      
}
.hero0{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
      
        background-color: white;  
        border-bottom:1px solid black; 
        
   }
   .hero01{
    display : flex;
    flex-direction: row-reverse;
    gap : 2px;
    width: 60%;
}
    .hero01 p{
        font-size : 35px;}
   
   .bt{
    width:40%;
    height: 100%;
    /* border:2px solid red; */
    display : flex;
    flex-direction: row-reverse;
   }
   .ntn1{
    display: inline-block;
    border:1px solid black;
   }

.navbar{
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    gap: 75px;
    
    

}
 .img{
    height:35px;
    /* border:1px solid black; */
    margin-left:80px;
}
.navbar ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap:35px;
}
button{
    border: none;
    background-color: #cce4f6;
    height :40px;
    padding: 12px 30px;
    margin-top: 9px;
    border-radius: 30px;
    border:1px solid #cce4f6 ;}

    .userr{
        height:40px;
        width: 80px;
        cursor:pointer 
    }
    .user_profile{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sub-menu-wrap{
        position:absolute ;
        top:100%;
        width:auto;
        text-align: center;
        max-height: 0px;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    .uer-info{
        display: flex;
        justify-content: center;
        align-items:center;
        gap:0px;
    }
    .uer-info img{
        height: 40px;
        width:60px;
        border-radius: 50%;
        margin-right: 15px;
    }
    .sub-menu-wrap.open-menu{
        max-height: 400px;
    
    }
    .sub-menu{
        background:#f2f2f2;
    }
    
    .Change-password{
        cursor:pointer;
    }
    
    .user-profile{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 100px; 
        
    }
    .update-password{
        color:blue;
    }
.dropdown-menu{
    background-color: aquamarine;
    cursor: pointer;
    margin-left: 10px;
}

